<a href="https://colab.research.google.com/github/Vasanth12414/Deep-Learning-Models/blob/main/NLP(Tokenization).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')

string = 'Twinkle twinkle little start . How I wonder what you are. Up above the world so high. like a dimond in the sky'
tokens = nltk.word_tokenize(string)
tokens

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

['Twinkle',
 'twinkle',
 'little',
 'start',
 '.',
 'How',
 'I',
 'wonder',
 'what',
 'you',
 'are',
 '.',
 'Up',
 'above',
 'the',
 'world',
 'so',
 'high',
 '.',
 'like',
 'a',
 'dimond',
 'in',
 'the',
 'sky']

In [6]:
obj = nltk.bigrams(tokens)
str_bigrams = list(obj)
str_bigrams

[('Twinkle', 'twinkle'),
 ('twinkle', 'little'),
 ('little', 'start'),
 ('start', '.'),
 ('.', 'How'),
 ('How', 'I'),
 ('I', 'wonder'),
 ('wonder', 'what'),
 ('what', 'you'),
 ('you', 'are'),
 ('are', '.'),
 ('.', 'Up'),
 ('Up', 'above'),
 ('above', 'the'),
 ('the', 'world'),
 ('world', 'so'),
 ('so', 'high'),
 ('high', '.'),
 ('.', 'like'),
 ('like', 'a'),
 ('a', 'dimond'),
 ('dimond', 'in'),
 ('in', 'the'),
 ('the', 'sky')]

In [7]:
obj = nltk.trigrams(tokens)
str_trigrams = list(obj)
str_trigrams

[('Twinkle', 'twinkle', 'little'),
 ('twinkle', 'little', 'start'),
 ('little', 'start', '.'),
 ('start', '.', 'How'),
 ('.', 'How', 'I'),
 ('How', 'I', 'wonder'),
 ('I', 'wonder', 'what'),
 ('wonder', 'what', 'you'),
 ('what', 'you', 'are'),
 ('you', 'are', '.'),
 ('are', '.', 'Up'),
 ('.', 'Up', 'above'),
 ('Up', 'above', 'the'),
 ('above', 'the', 'world'),
 ('the', 'world', 'so'),
 ('world', 'so', 'high'),
 ('so', 'high', '.'),
 ('high', '.', 'like'),
 ('.', 'like', 'a'),
 ('like', 'a', 'dimond'),
 ('a', 'dimond', 'in'),
 ('dimond', 'in', 'the'),
 ('in', 'the', 'sky')]

In [8]:
obj = nltk.ngrams(tokens ,4)
str_ngrams = list(obj)
str_ngrams

[('Twinkle', 'twinkle', 'little', 'start'),
 ('twinkle', 'little', 'start', '.'),
 ('little', 'start', '.', 'How'),
 ('start', '.', 'How', 'I'),
 ('.', 'How', 'I', 'wonder'),
 ('How', 'I', 'wonder', 'what'),
 ('I', 'wonder', 'what', 'you'),
 ('wonder', 'what', 'you', 'are'),
 ('what', 'you', 'are', '.'),
 ('you', 'are', '.', 'Up'),
 ('are', '.', 'Up', 'above'),
 ('.', 'Up', 'above', 'the'),
 ('Up', 'above', 'the', 'world'),
 ('above', 'the', 'world', 'so'),
 ('the', 'world', 'so', 'high'),
 ('world', 'so', 'high', '.'),
 ('so', 'high', '.', 'like'),
 ('high', '.', 'like', 'a'),
 ('.', 'like', 'a', 'dimond'),
 ('like', 'a', 'dimond', 'in'),
 ('a', 'dimond', 'in', 'the'),
 ('dimond', 'in', 'the', 'sky')]